.para {
    color:blue;
    background-color: cornflowerblue;
    margin: 20px;
    border: 1px darkgray;
    padding: 25px;
    font-style: oblique;
    font-size: medium;
}

.para-eksternal {
    color:deeppink;
    background-color: darksalmon;
    padding: 25px;
    font-size: medium;
    font-style: oblique;
}

.box {
    border: 2cm;
    height: 35px;
    width: 45px; 
    padding: 25px;
    color:coral;
    background-color: burlywood;
    font-size: medium;
    font-style: oblique;
}