.Ana.jpeg {
    width: 25px;
    height: 15px;
    object-fit: cover;
}

.title {
    font-family: 'Raleway', sans-serif;
}

.subtitle {
    letter-spacing: 10cm;
}

.hero {
    height: 95vh;
}

.text-about {
    text-indent: 50px;
    text-align: justify;
}